/node_modules
/public/hot
/public/storage
/public/error_log
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
composer.phar
error_log
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/public/vendor/tcg/voyager/assets/css
/public/vendor/tcg/voyager/assets/fonts
/public/vendor/tcg/voyager/assets/js/*
!/public/vendor/tcg/voyager/assets/js/langs
!/public/vendor/tcg/voyager/assets/js/langs/*
